<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.webServer>
    <!--"Если тестирование необязательно, и приложение уже развернуто для использования, то можно установить значение errorMode="DetailedLocalOnly""-->
    <!--"Значение existingResponse="Replace" позволит отобразить ошибку по оригинальному запрошенному пути без переадресации."-->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <remove statusCode="403"/>
      <error statusCode="404" path="404.html" responseMode="File"/>
      <!--     для сопоставления кодов ошибки конкретным страницам здесь, необязательно подключать app.UseStaticFiles()       -->
      <!--      <error statusCode="403" path="403.html" responseMode="File"/>-->
            
    </httpErrors>
    
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
