@*Итак, это тип модели*@
@model MVCRazorExample.Person

<div>
    <b>@Model.FirstName</b><br />
    <label>Last Name: @Model.LastName</label><br />
    <b>Это частичное представление (Partial View)</b>
</div> 