<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet"
          asp-href-include="~/node_modules/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="~/node_modules/fontawesome*/css/*.css" />
    <link rel="stylesheet" asp-href-include="Styles.css">
    <title>SportsStore</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="row col-1">
            <a class="navbar-brand" href="#">SPORTS STORE</a>
        </div>
        <div class="row col-1-xs text-right" id="cartWidget">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </nav>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>