<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="text/html" charset="utf-8" />
    <title>SportsStore</title>
</head>
<body>
    <div>
        <h1>Список товаров:</h1>
        @RenderBody()
    </div>
</body>
</html>
